*{
    margin: 0;
    padding: 0;
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: auto;
    margin: 40px auto;
    border: 2px #4aaf58 solid;
    border-radius:  10px;
    padding-bottom: 10px;
}

.title{
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: #ebf1f1;
    font-size: 28px;
    width: 95%;
    height: 5vh;
    margin: 10px auto 0 auto;
}
.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ebf1f1;
    gap: 20px;
    width: 95%;
    margin: 5px auto 0 auto;
}
.monthDuration{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    font-size: 20px;
    width: 30%;
    height: 4vh;
}
.hourDuration{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    font-size: 20px;
    width: 65%;
    height: 4vh;
}
.box_2{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: #ebf1f1;
    gap: 10px;
    width: 95%;
    margin: 10px auto 0 auto;
}
.box_3{
    display: flex;
    align-items: start;
    justify-content: start;
    border-bottom: 1px solid #238333;
    font-size: 18px;
    width: 95%;
    margin: 2px auto 0 auto;
}
