*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 500px;
}
button{
    width:  200px;
    height: 45px;
    margin: 10px;
    border-radius: 10px;
    background: #bfc6c1;
}
button p{
    font-size:  25px;
}
.item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}